<% if(page.comments && theme.disqus_shortname){ %>
<div class="blog-post-comments">
    <h3>Comments:</h3>
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
<% } %>
