<%- partial('google_tagmanager2') %>

<div class="alignleft">
  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- config.root %><%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>
